<form>
    <input type="hidden" id="userid" value="@ViewBag.studentnumber" />
    <a class="btn-primary" asp-controller="Les2" asp-action="GetResults" asp-route-userid="@ViewBag.studentnumber">Resultaten</a>
</form>
