
@{
    ViewData["Title"] = "Info";
}

<h1>Info</h1>

@using (Html.BeginForm(FormMethod.Post))
{
    <div class="alert-info">@ViewBag.Result</div>
    <table>
        <tr>
            <td>Loginnaam</td>
            <td><input type="text" name="username" value="@ViewBag.UserName" /></td>
        </tr>
        <tr>
            <td>Oud wachwoord</td>
            <td><input type="password" name="oldpassword" /></td>
        </tr>
        <tr>
            <td>Nieuw wachtwoord</td>
            <td><input type="text" name="newpassword" value="@ViewBag.UserName" /></td>
        </tr>
        <tr>
            <td>Bevestig wachwoord</td>
            <td><input type="password" name="confirmpassword" /></td>
        </tr>
    </table>
    <input type="submit" value="Update wachtwoord" />
}
